.divdiv{
    width:500px;
    height: 500px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease-in-out 300ms;
}
.divdiv:hover{
    background-color: black;
    color: white;
}
.divdiv:active{
    transform: scale(0.9);
}